body{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: black;
  color: white;
}

.body{
  display: flex;
}

#content{
  border: 2px solid white;
  width: 33%;
  margin: 10px;
  height: 600px;
  /* display: flex;
  flex-direction: column; */
}
#content img{
  width : 150px;
  height: 150px;
  margin: 5px;
}

#drop{
  border: 2px solid white;
  width: 35%;
  /* margin-left: 70px; */
  right: 100px;
  position: absolute;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#drop img{
  width : 100px;
  height: 100px;
  margin: 5px;
}
.btn{
  display: block;
  width: 250px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
